{% extends 'punkin_patch/main.html' %} {% block content %}

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<div class="header-bar">
    <div>
        <h1>Hello {{request.user}}</h1>
    </div>

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a> {% else %}
    <a href="{% url 'login' %}">Login</a> {% endif %}
</div>


<div id="search-add-wrapper">
    <form method="GET" style="display: flex;">
        <input type='text' name='search-area' placeholder="Search characters" value="{{search_input}}">
        <input class="button" type="submit" value='Search'>
    </form>
    {% if characters|length > 0 %}
    <a id="add-link" href="{% url 'character-create' %}">&#x2b;</a>
    {% endif %}
</div>

<div id="characterlist" class="character-items-wrapper">
    {% for character in characters %}
    <div class="character-wrapper" data-position="{{character.pk}}">
        <div class="character-title">
            <a href="{% url 'character-update' character.id %}">{{character}}</a>
        </div>
        <div>
            <a class="delete-link" href="{% url 'character-delete' character.id %}">&#215;</a>
        </div>
    </div>

    {% empty %}
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
        <h3>No new characters are created.</h3>
        <h3>Create a <a style="text-decoration: none; color: #e53935;" href="{% url 'character-create' %}">New character</a> ! </h3>
    </div>
    {% endfor %}
</div>

{% endblock content %}