{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'characters' %}">View Characters</a></p>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'signup' %}">Sign Up</a>
  <a href="{% url 'login' %}">Log In</a>
<!--
</br>
</br>
<p>Forgot your password?</p>
<a href="{% url 'password_reset' %}">Reset Password</a> 
-->
{% endif %}
{% endblock %}